<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    <connectionStrings>
        <add name="HousingDB_DevEntities"
          connectionString="metadata=res://*/HousingDB_DevEntities.csdl|res://*/HousingDB_DevEntities.ssdl|res://*/HousingDB_DevEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=housing.cgbbs6xdwjwh.us-west-2.rds.amazonaws.com,1433;initial catalog=HousingDB_Dev;persist security info=True;user id=master;password=h0usingp4ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient"/>
    </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>